@media (max-width: 992px) {
  .installmentPlan{
    margin-top: 130px;
    &_wrapper{
      &_center{
        padding: 37px 1px 60px;
      }
      &_title{
        font-size: 40px;
      }
      &_text{
        &_red{
          font-size: 24px;
        }
      }
      &_textRed{
        width: 200px;
        height: 42px;
        text-align: center;
      }
    }
    &_win{
      bottom: 222px;
      width: 25%;
    }
    &_0{
      bottom: 200px;
      right: 27px;
      width: 24%;
    }
    &_form{
      margin-top: -30px;
      gap: 11px;
      button{
        height: 50px;
        width: 95%;
      }
      &_dop{
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
      &_form{
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        &_inputs{
          display: flex;
          flex-direction: column;
          gap: 11px;
          &_input{
            width: 95%;
            height: 35px;
          }
          &_svg1{
            position: absolute;
            top: 5.5%;
            left: 1.1%;
            width: 9%;
          }
          &_svg2{
            position: absolute;
            top: 42%;
            left: 3.1%;
          }
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .installmentPlan{
    margin-top: 80px;
    &_win{
      bottom: 222px;
      width: 25%;
    }
    &_0{
      bottom: 210px;
      right: 27px;
      width: 24%;
    }
  }
}
@media (max-width: 620px) {
  .installmentPlan{
    margin-top: 80px;
    &_win{
      bottom: 366px;
      width: 25%;
    }
  }
}
@media (max-width: 480px) {
  .installmentPlan{
    margin-top: 80px;
    margin-bottom: 0px;
    &_win{
      bottom: 375px;
      width: 25%;
    }
  }
}