@media (min-width:1440px) {
  .firstanimation{
    &_wrapper{
      &_block2{
        &_circlesIn{
          gap: 46px;
        }
        img{
          width: 98%;
        }
      }
    }
  }
}
@media (min-width:1600px) {
  .firstanimation{
    &_wrapper{
      &_block2{
        &_circlesIn{
          gap: 61px;
        }
        img{
          width: 92%;
        }
      }
    }
  }
}
@media (min-width:1750px) {
  .firstanimation{
    &_wrapper{
      &_block2{
        &_circlesIn{
          gap: 61px;
        }
        img{
          width: 92%;
        }
      }
    }
  }
}
@media (min-width:1920px) {
  .firstanimation{
    &_wrapper{
      &_block2{
        &_circlesIn{
          gap: 61px;
        }
        img{
          width: 92%;
        }
      }
    }
  }
}


@media (max-width: 1357px) {
  .firstanimation{
    &_wrapper{
      &_block2{
        &_circlesIn{
          gap: 11px;
        }
        img{
          width: 92%;
        }
      }
    }
  }
  .secondanimation{
    &_wrapper{
      &_block{
        gap: 25px;
        &_title{
          font-weight: 800;
          font-size: 130px;
          height: 130px;
        }
      }
    }
  }
}
@media (max-width: 1200px) {
  .firstanimation{
    &_wrapper{
      grid-template-columns: 44% 50%;
      &_block2{
        &_circlesIn{
          gap: 11px;
        }
        img{
          width: 92%;
        }
      }
    }
  }
  .secondanimation{
    &_wrapper{
      &_block{
        gap: 25px;
        &_title{
          font-weight: 800;
          font-size: 110px;
          height: 110px;
        }
      }
    }
  }
}
@media (max-width: 1200px) {
  .firstanimation{
    &_wrapper{
      grid-template-columns: 44% 50%;
      &_block2{
        &_circlesIn{
          gap: 11px;
        }
        img{
          width: 92%;
        }
      }
    }
  }
  .secondanimation{
    &_wrapper{
      &_block{
        gap: 25px;
        &_title{
          font-weight: 800;
          font-size: 110px;
          height: 110px;
        }
      }
    }
  }
}
@media (max-width: 1140px) {
  .firstanimation{
    &_wrapper{
      grid-template-columns: 44% 50%;
      &_block2{
        &_circlesIn{
          gap: 0;
        }
        img{
          width: 92%;
        }
      }
    }
  }
  .secondanimation{
    &_wrapper{
      &_block{
        gap: 25px;
        &_title{
          font-weight: 800;
          font-size: 110px;
          height: 110px;
        }
      }
    }
  }
}
@media (max-width: 1040px) {

}
@media (max-width: 768px) {

}
@media (max-width: 480px) {

}