.installmentPlan{
  position: relative;
  margin-top: 110px;
  margin-bottom: 140px;
  &_wrapper{
    background: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    &_center{
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 10px 0 25px;
    }
    &_title{
      font-weight: 700;
      font-size: 64px;
      text-transform: uppercase;
      background: linear-gradient(111deg, #ff2626 0%, #b40c0c 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    &_text{
      &_red{
        font-size: 40px;
        background: linear-gradient(111deg, #ff2626 0%, #b40c0c 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    &_textRed{
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
      background: linear-gradient(111deg, #ff2626 0%, #b40c0c 100%);
      border-radius: 10px;
      width: 558px;
      height: 42px;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &_win{
    position: absolute;
    left: 0;
    bottom: 50px;
    width: 22%;
  }
  &_0{
    position: absolute;
    right: 0;
    bottom: 100px;
    width: 20%;
  }
  &_form{
    width: 100%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin-top: 20px;
    gap: 11px;
    button{
      height: 35px;
    }
    &_dop{
      width: 70%;
    }
    &_form{
      display: grid;
      grid-template-columns: 69% 24%;
      justify-content: start;
      margin-top: 10px;
      align-items: center;
      gap: 10px;
      &_inputs{
        display: grid;
        grid-template-columns: 32% 32% 32%;
        justify-content: space-between;
        &_input{
          width: 95%;
          background: #d9d9d9;
          border-radius: 5px;
          height: 35px;
        }
        input{
          padding-left: 14px;
          border: none;
        }
        input::placeholder{
          font-weight: 400;
          font-size: 14px;
          color: rgba(0, 0, 0, 0.44);
        }
        input.text{
          font-weight: 400;
          font-size: 14px;
          color: rgba(0, 0, 0, 0.7);
        }
        input:focus{
          box-shadow: 0 0 10px 0 #ff2626;
        }
      }
    }
  }
}