.reviews {
    padding-top: 120px;
    &_wrapper {
        overflow: hidden;
        margin-top: 48px;
    }
    &_field {
        display: flex;
    }
    &_controls {
        position: relative;
        display: flex;
        justify-content: center;
        gap: 23%;
        margin-top: 33px;
        .rotate {
            transform: rotate(180deg);
        }
    }
    &_counter {
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: center;
    }
    &_prev, &_next {
        cursor: pointer;
    }
    &_indicators {
        display: none;
    }
    &_slide {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
        background: #fff;
        &_header {
            display: flex;
            justify-content: space-between;
            padding: 20px 20px 0 20px;
            .title_14 {
                color: #666;
            }
            img {
                width: 17%;
            }
        }
        &_content {
            padding: 0 20px;
        }
        &_content.video {
            width: calc(100% - 6px);
            height: calc(100% - 6px);
            padding: 3px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &_footer {
            padding: 11px 20px;
            background: #f0f0f0;
        }
    }
    .title_24 {
        text-align: center;
    }
}
