.title {
	font-size: 20px;
	font-weight: 500;
	color: #000;
	transition: 0.7s;
	&_12 {
		font-size: 12px;
	}
	&_14 {
		font-size: 14px;
	}
	&_16 {
		font-size: 16px;
	}
	&_18 {
		font-size: 18px;
	}
	&_24 {
		font-size: 24px;
	}
	&_32 {
		font-size: 32px;
	}
	&_38 {
		font-size: 38px;
	}
	&_64 {
		font-size: 64px;
	}
}

.normal {
	font-weight: 400;
}
.semi-bold {
	font-weight: 600;
}
.bold {
	font-weight: 700;
}

.gotham {
	font-family: "GothamPro", sans-serif;
}

.titleHover:hover{
	color: #000000;
	transition: 0.7s;
}

.titleHover:hover{
	color: #f31818;
	transition: 0.7s;
}